//text style mixin
@mixin textStyle($fontSize, $fontWeight, $lineHeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

//breakpoint mixin
@mixin breakpointMaxWidth($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@include breakpointMaxWidth(1599px) {
    .side-menu{
        width: 240px;
    }
    .user-body-section{
        &.active{
            padding-left: 280px;
        }
    }
    // .user-body-section{
    //     &.active{
    //         .user-body-container{
    //             padding-right: 40px;
    //         }
    //     }
    //   }
    .user-body-container{
        padding-right: 40px;
    }
    .addons-table .addons-tr-ist li{
        padding: 0px 10px;
    }
    .my-plugin-table {
        .my-plugin-table-header .table-row .table-cell,
        .my-plugin-table-body .table-row .table-cell{
            padding: 10px 20px;
        }
    }
    .my-plugin-table .table-accordion-inner{
        padding: 0px 20px;
    }

}
@include breakpointMaxWidth(1280px) {
    .user-body-section {
            padding-left: 40px;
            &.active {
                padding-left: 40px;
                .user-body-container {
                    padding-right: 40px;
                }
            }
        }
    
        .user-body-container {
            padding-right: 40px;
        }
}

@include breakpointMaxWidth(991px) {
    .header-content{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .my-plugin-table-header{
        display: none;
    }
    .my-plugin-table .my-plugin-table-body .table-row {
        flex-wrap: wrap;
        justify-content: flex-start;
        .table-cell {
            &:nth-child(1){
                width: 40%;
            }
            &:nth-child(2){
                width: 30%;
            }
            &:nth-child(3){
                width: 30%;
            }
            &:nth-child(4){
                width: 40%;
            }
            &:nth-child(5){
                width: 30%;
                text-align: left !important;
            }
            .table-btn-cell{
                justify-content: flex-start;
            }
            strong{
                display: block;
            }
        }
    }
    .table-tab-content-inner{
        overflow-x: scroll;
        .addons-table.table-accordion-inner{
            min-width: 901px;
        }
    }
}

@include breakpointMaxWidth(768px) {
    .user-body-section{
        padding-left: 20px;
    }
    .user-body-container{
        padding-right: 20px;
    }
    .user-header-section {
        .header-right{
            form{
                display: none;
            }
        }
    }

    .my-plugin-table .my-plugin-table-body .table-row {
        flex-wrap: wrap;
        justify-content: flex-start;
        .table-cell {
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(2){
                width: 50%;
            }
            &:nth-child(3){
                width: 50%;
            }
            &:nth-child(4){
                width: 50%;
            }
            &:nth-child(5){
                width: 50%;
            }
        }
    }
    .table-tab-content-inner .row-card ul li{
        overflow: hidden;
    }
    .pagination ul{
        padding: 0px 6px;
    }

    .mobile-menu-top{
        form{
            display: flex;
            align-items: center;
        }
    }
}

@include breakpointMaxWidth(575px) {
    .my-plugin-card-header {
        form{
            flex-direction: column;
            align-items: flex-start;
        }
        .filter-dropdown{
            margin-bottom: 16px;
        }
    }
    .notificationa-and-language{
        display: flex;
    }



    .user-header-right-list{
        .language-dropdown{
            display: none;
        }
    }
    .user-header-right-list{
        width: auto;
        .notification{
            display: none;
        }
    }
    
}

@include breakpointMaxWidth(425px) {
    .wp-plugins-card-body{
        form{
            flex-wrap: wrap;
        }
    }
    .table-tab-content-inner .row-card {
        p{
            font-size: 13px;
        }
    }
}

@include breakpointMaxWidth(375px){
    .my-plugin-table .my-plugin-table-body .table-row .table-cell {
        strong{
            font-size: 12px;
        }
        p{
            font-size: 13px;
        }
        span{
            font-size: 12px;
        }
    }
}


